 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a programmer specialized in computer graphics and image processing looking for entry level game development job. I am familiar with a number of tools used in game development. I also have experience in android and web development.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you wish to contact me. Please email me at mio780308@gmail.com. </p>
                </div>
				<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
				-->
            </div>
        </div>
    </section>