    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
			<img src="img/profile.png">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
				<p>Hello there. My name is Charlie Ueng.
                I received the degree of M.S. in Information Engineering department from National University of Science and Technology in Taiwan.
				My field of research is computer graphics, which includes several subjects like image processing, mesh processing and 3D rendering.
				I am also familiar with OpenGL, Unity3D, Ogre3D and Android application devleopment.
				As for coding languages, I have 3+ years of experience with C, C++, Java and some experience with Matlab and C#.</p>
				<br/>
				<p>On a personal note, I value continuous learning and adapting from mistakes, and believe they are the keys to make us better persons.
				And, despite the great odds, I still dream to make games that bring people joy.</p>
                
              </div>
        </div>
    </section>
